//startup programs
spawn-at-startup "mako" // notification daemon
spawn-at-startup "waybar" // waybar
spawn-at-startup "dex" "-a" // start autostart programs at /etc/xdg/autostart
spawn-at-startup  "bash" "-c" "~/.local/scripts/wallpaper.sh" //set wallpaper
spawn-at-startup  "bash" "-c" "gammastep -O 4500" // turn on night light
spawn-at-startup "xwayland-satellite" // xwayland server

// environment variables 
environment {
    DISPLAY ":0"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORM "wayland;xcb"
    EDITOR "hx"
}

// keybinds
binds {
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // common programs
    Mod+Return { spawn "ghostty"; }
    Mod+M { spawn "wofi"; }
    Mod+B { spawn "firefox"; }
    Mod+D { spawn "zathura"; }
    Mod+C { spawn "bash" "-c" "pkill vlc || cvlc /media/backup/focus/*"; }

    // power
    Mod+End { spawn "systemctl" "poweroff"; }
    Mod+Delete { spawn "systemctl" "reboot"; }

    // media keys
    XF86AudioRaiseVolume  { spawn "bash" "-c" "~/.local/scripts/volume.sh --up"; }
    XF86AudioLowerVolume  { spawn "bash" "-c" "~/.local/scripts/volume.sh --down"; }
    XF86MonBrightnessUp   { spawn "bash" "-c" "~/.local/scripts/light.sh --up"; }
    XF86MonBrightnessDown { spawn "bash" "-c" "~/.local/scripts/light.sh --down"; }
    XF86AudioPlay  { spawn "playerctl" "play-pause";} 
    XF86AudioPrev  { spawn "playerctl" "previous";} 
    XF86AudioNext  { spawn "playerctl" "next";} 

    //close window
    Mod+Q { close-window; }

    // change focused window/workspace
    Mod+H     { focus-column-left; }
    Mod+J     { focus-workspace-down; }
    Mod+K     { focus-workspace-up; }
    Mod+L     { focus-column-right; }

    // cycle through windows
    Alt+Tab     { focus-column-right-or-first; }

    // move window
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-to-workspace-down; }
    Mod+Shift+K     { move-window-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    // focus specific workspace
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // move window to specific workspace
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // maximize
    Mod+Shift+F { maximize-column; }
    Mod+F { fullscreen-window; }

    // adjust width of a column(window)
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    // screenshot
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // quit niri
    Mod+Escape { quit; }

    // turn off monitors
    Mod+Shift+P { power-off-monitors; }
}

// input settings
input {
    keyboard {
        repeat-delay 300
        repeat-rate 50
    }
    touchpad {
        tap
    }
}

// output settings
output "eDP-1" {
    mode "1366x768"
}

// layout settings
layout {
    focus-ring {
         off
    }
    border {
        off
    }
    default-column-width { proportion 1.0; }
    gaps 0
}

// disable client side decorations
prefer-no-csd

// set screenshot path
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    // disable hotkey info popup at startup
    skip-at-startup
}
