theme = "gruber-darker"

[editor]
line-number = "relative"
mouse = false
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[keys.normal] 
K = "page_cursor_up"
J = "page_cursor_down"
X = ["extend_line_up", "extend_to_line_bounds"]
C-q = ":quit"
C-c = ":config-open"
C-r = ":config-reload"

[keys.normal.g]
# select lines https://github.com/helix-editor/helix/issues/1630#issuecomment-1511995639
l = ["collapse_selection", "extend_to_line_end"]
h = ["collapse_selection", "extend_to_line_start"]
s = ["collapse_selection", "select_mode", "goto_first_nonwhitespace", "exit_select_mode"]
  
[keys.insert]
j = { k = "normal_mode" } # Maps `jk` to exit insert mode

[keys.normal."space"]
F = "file_picker_in_current_buffer_directory"
q = ":buffer-close"
s = ":write"
n = ":new"
l = ":fmt" #lsp formatting
