theme = "ayu_dark"

[editor]
line-number = "relative"
mouse = false
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[keys.normal] 
K = "page_cursor_up"
J = "page_cursor_down"
X = ["extend_line_up", "extend_to_line_bounds"]
C-q = ":quit"
  
[keys.insert]
j = { k = "normal_mode" } # Maps `jk` to exit insert mode

[keys.normal."space"]
x = ":config-open"
r = ":config-reload"
F = "file_picker_in_current_buffer_directory"
s = ":write"
n = ":new"
l = ":fmt"
q = ":buffer-close"
