* {
    border: none;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
    min-height: 0;
    padding: 1px;
}

#waybar {
      background: transparent;
}

#workspaces button {
  margin: 2px 4px ;
  border-radius: 3px;
}

#workspaces button:hover {
  color: #131721;
  background-color: #131721;
}

#workspaces button.active {
  color: #d0cec8;
  background-color: #2d3640;
}

#workspaces button.urgent {
  color: #2d3640;
  background-color: #e6b450;
}

#battery,
#clock,
#pulseaudio,
#window,
#network,
#tray,
#workspaces
{
  color: #6a7e95;
  background: #0f1419; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  background-clip: padding-box;
}
