* {
    border: none;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font","Roboto", "Helvetica", "Arial", "sans-serif";
    font-size: 13px;
    min-height: 0;
    padding: 1px;
    background: transparent;
}

#workspaces button {
  padding: 0 4px;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  background: inherit;
  border-top: 2px solid #c9545d;
}

#workspaces button.active {
  border-top: 2px solid #c7c7c7;
  color: #b3b1ad;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#battery,
#clock,
#cpu,
#window,
#memory,
#network,
#tray,
#workspaces
{
  color: #b3b1ad;
  background: #0a0e14; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  background-clip: padding-box;
}
