* {
    border: none;
    border-radius: 0px;
    font-family: "Noto Sans";
    font-size: 10px;
    font-weight: bold;
    min-height: 0;
    padding: 1px;
}

#waybar {
      /* background: transparent; */
}

#workspaces button {
  margin: 2px 4px ;
  border-radius: 2px;
}

#workspaces button:hover {
  color: #0f1419;
  background-color: #6d8895;
}

#workspaces button.active {
  color: #0f1419;
  background-color: #e6b450;
}

#workspaces button.urgent {
  color: #0f1419;
  background-color: #a85361 ;
}

#battery,
#clock,
#pulseaudio,
#window,
#network,
#tray,
#workspaces,
#mpris
{
  font-weight: 500;
  color: #6d8895;
  background: #0f1419; 
  padding: 0 10px;
  margin: 3px 3px 3px 3px;
  background-clip: padding-box;
}

#battery.warning { color: #e6b450; }
#battery.critical { color: #a85361 ; }
/* #battery.full { color: #7e9350; } */
#battery.discharging { color: #6d8890; }
/* #battery.charging { color: #1f6f88; } */
#pulseaudio.muted { color: #a85361; }
#pulseaudio.bluetooth { color: #1f6f88; }

window#waybar.empty #window {
    background-color: transparent;
}
