window {
  margin: 0;
  color: #b3b1ad;
  background: #0a0e14;
  border-radius: 0px;
  opacity: 1;
}

#input {
  margin: 5px;
  border: none;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 8px;
  border: none;
}

#entry:selected {
  background: #1c2738;
  border: none;
  outline: none;
}

.entry {
  margin: 5px;
}
