@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.92; }
}

window {
  margin: 0;
  background: #1f2430;
  border-radius: 10px;
  opacity: 0.70;
  animation-name: fadeIn;
  animation-duration: 0.25s;
}

#input {
  margin: 5px;
  border: none;
  color: black;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 8px;
  border: none;
  color: #bfbab0;
}

#entry:selected {
  background: #33415e;
  border: none;
  outline: none;
}

.entry {
  margin: 5px;
}

