@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.90; }
}

window {
  margin: 0;
  background: #0a0e14;
  border-radius: 10px;
  opacity: 0.90;
  animation-name: fadeIn;
  animation-duration: 0.25s;
}

#input {
  margin: 5px;
  border: none;
  color: #0a0e14;
}

#inner-box {
  margin: 5px;
  border: none;
}

#outer-box {
  margin: 5px;
  border: none;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 8px;
  border: none;
  color: #b3b1ad;
}

#entry:selected {
  background: #1c2738;
  border: none;
  outline: none;
}

.entry {
  margin: 5px;
}

